@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* .App {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  min-height: 100vh;
} */
